@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

root {
  display: block;
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 80px auto;
  min-height: 65vh;
  background-color: #fff;
}

/* Menu background with white part */
.menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 999;
}

.white-part {
  width: 100%;
  height: 70px;
  background-color: #fff;
}

/* Hero Section */
.hero {
  display: flex;
  background-color: #fff;
}

.hero-image {
  width: 85%;
  margin-left: -25%;
  margin-top: 20px;
}

.hero-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-title {
  color: #659018;
  font-size: 4rem;
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: 100;
  width: 135%;
  margin-left: -15%;
}

/* Content Section */
.content {
  display: flex;
  padding: 40px 20px;
}

.contact-info {
  width: 60%;
  padding-right: 40px;
}

.content-full {
  width: 100%;
  padding-right: 40px;
}

.contact-info h2, .content-full h2 {
  color: #659018;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 300;
}

.contact-info h3 {
  color: #659018;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 300;
}

.contact-info p, .content-full p {
  margin-bottom: 50px;
  line-height: 1.8;
}

.contact-details {
  margin-bottom: 30px;
  line-height: 1.8;
}

.management h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #333;
}

.location {
  width: 40%;
  margin-top: 90px;
}

.location.no-margin {
  margin-top: 0;
}

.location h3 {
  color: #659018;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.map-container {
  width: 100%;
  height: 280px;
  margin-bottom: 30px;
}

.map-container iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/*-----Navigation-----*/

/* Navigation */
.main-nav {
  width: 100%;
  background-color: rgba(234, 237, 216, 0.8);
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-spacer {
  height: 80px;
  margin-bottom: 30px;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu-logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 120px;
  z-index: 10;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
  width: 100%;
}

.main-nav > .nav-container > ul > li {
  border-bottom: 3px solid transparent;
}

.main-nav > .nav-container > ul > li:hover, .main-nav > .nav-container > ul > li.active {
  border-bottom: 3px solid #659018;
}


.main-nav .nav-container a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s;
}

.main-nav i {
  margin-right: 8px;
  color: #000;
}

.main-nav a:hover, .main-nav a:hover i, .main-nav .active > a, .main-nav .active > a > i {
  color: #659018;
}

/* Dropdown Menu */
.main-nav .dropdown {
  position: relative;
}

.main-nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0;
  border-radius: 0 0 4px 4px;
  border: 1px solid #e0e0e0;
  margin-top: 3px;
}

.main-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.main-nav .dropdown-menu li {
  display: block;
  margin: 0;
  width: 100%;
}

.main-nav .dropdown-menu a {
  padding: 8px 15px;
  display: block;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.main-nav .dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.main-nav .dropdown-menu.active {
  display: block;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .main-nav {
    position: relative;
  }

  .hero, .content, .footer-content {
    flex-direction: column;
  }

  .hero-image, .hero-text, .contact-info, .location {
    width: 100%;
  }

  .hero-text {
    padding: 20px;
  }

  .contact-info {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .white-part {
    display: none;
  }

  .main-nav ul, #top-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main-nav .dropdown-menu {
    display: none;
    position: relative;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e0e0e0;
    margin-top: 3px;
  }

  .main-nav .dropdown.active .dropdown-menu {
    display: block;
  }

  .menu-logo {
    display: none;
  }

  .sponsor-logos {
    justify-content: center;
  }

  .tabmenu ul {
    flex-direction: column;
  }

  .container {
    margin: 0 auto;
  }
}

.tabmenu li {
  display: inline-block;
  margin: 5px 9px 0 0;
  background: linear-gradient(135deg, #acacac, #e1dede);
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 5px 9px;
}

.tabmenu li i {
  margin-right: 7px;
  color: #659018;
}

.tabmenu li:hover, .tabmenu li.active {
  background: linear-gradient(135deg, #e0e0e0, #d0d0d0);
  transform: translateY(3px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  color: #659018;
}

.tabmenu a {
  color: black;
  text-decoration: none;
}

.tabmenu li:hover a, .tabmenu li.active a {
  color: #659018;
}

.dark-green {
  color: #659018;
}

.contacts-icons {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.contacts-icons .item {
  flex: 0 1 calc(80% - 8px);
  box-sizing: border-box;
  text-align: left;
  padding: 0px;
}

.contacts-icons i.item {
  flex: 0 1 calc(20% - 8px);
  text-align: right;
}

#mapa {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 10px;
  /*color: #659018;*/
}

#mapa a {
  margin-top: 10px;
  color: #000000;
}

/* Footer */
.footer {
  width: 100vw;
  background-color: rgba(234, 237, 216, 0.8);
  padding: 30px 20px;
  border-top: 1px solid #e0e0e0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}

.sponsors-section {
  flex: 1;
}

.sponsors-section p {
  margin-bottom: 30px;
  font-weight: 300;
}

.sponsors-section ul {
  list-style: none;
  line-height: 1.8;
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}

.sponsor-logos img {
  height: 45px;
  object-fit: contain;
}

/* Trainers list styles */
.trainers-list {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.trainers-list li {
  margin-bottom: 5px;
  font-size: 16px;
}

.trainers-list a {
  color: #004675;
  text-decoration: none;
}

.trainers-list a:hover {
  text-decoration: underline;
  left: 0px;
}


/* rozvrh */
table.bordered {
  text-align: center;
  width: 100%;
  margin: 50px 0;
}

.bordered th {
  font-weight: bold;
  font-size: 2.5rem;
  border: 1px solid black;
  padding: 15px;
}

.bordered td {
  border: 1px solid black;
}

.vybor {
  list-style: none;
  font-size: 1.5rem;
  padding: 0 0 0 70px;
}

.vybor li {
  margin: 15px 0;
}

.vybor i {
  margin-right: 15px;
  font-size: 1.2rem;
  color: #b9b9b9;
  position: relative;
  bottom: 3px;
}

.history-grid {
  display: grid;
  grid-template-columns:auto auto;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  gap: 10px;
}

.chronicle {
  margin-top: 20px;
  background-color: #e0e0e0;
  font-style: italic;
  padding: 20px;
  color: black;
}

.chronicle h1 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding: 10px 0;
  color: black;
}

.chronicle h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  color: black;
}


#lightgallery {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
}

#lightgallery a {
  flex: 1 1 calc(25% - 10px); /* Each item (anchor) takes 25% of the row width minus the gap */
  width: calc(25% - 10px); /* Prevent overflow */
  height: 150px;
  text-decoration: none; /* Remove underline or styling from the links */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/*#lightgallery img {*/
/*  height: 150px; !* Maintain aspect ratio *!*/
/*  width: auto; !* Make the image fill its parent (anchor) *!*/
/*  object-fit: cover; !* Ensure the image fills its space without distortion *!*/
/*  display: block; !* Remove any inline spacing from images *!*/
/*}*/

