  <div class="sokol">
  </div>

  <div id="paticka">
    <div class="footer-content">
      <div class="sponsors-section">
        <div class="soko">
          Činnost TJ podporují:
        </div>

        <div class="copy">
          <ul>
            <li>ČESKÁ UNIE SPORTU - ČUS</li>
            <li>MORAVSKOSLEZSKÝ KRAJ</li>
            <li>STATUTÁRNÍ MĚSTO OSTRAVA</li>
            <li>MĚSTSKÝ OBVOD STARÁ BĚLÁ</li>
          </ul>
        </div>
      </div>

      <div class="reg">
        <a href="https://otu.cusmsk.cz/kontakty/otu" title="ČUS" target="_blank">
          <img src="$IMG_PATH/cus.svg" alt="ČUS">
        </a>
        <a href="https://starabela.ostrava.cz/cs" title="Stará Bělá" target="_blank">
          <img src="$IMG_PATH/stara_bela.png" alt="Stará Bělá">
        </a>
        <a href="https://www.msk.cz/" title="Ostrava" target="_blank">
          <img src="$IMG_PATH/kraj_logo.svg" alt="Moravskoslezský kraj">
        </a>
        <a href="https://www.ostrava.cz/cs" title="Ostrava" target="_blank">
          <img src="$IMG_PATH/logo_ostrava.png" class="small" alt="Ostrava">
        </a>
      </div>
    </div>
  </div>

  <hr class="cistic">

</div>

</body>
</html>