<div class="sokol">
</div>

<!-- Footer -->
<div class="footer">
  <div class="footer-content">
    <div class="sponsors-section">
      <p>Činnost TJ podporují:</p>
      <ul>
        <li>Česká unie sportu - ČUS</li>
        <li>Moravskoslezský kraj</li>
        <li>statutární město Ostrava</li>
        <li>městský obvod Stará Bělá</li>
        <li>Národní sportovní agentura</li>
      </ul>
    </div>

    <div class="sponsor-logos">
      <a href="https://otu.cusmsk.cz/kontakty/otu" title="ČUS" target="_blank">
        <img src="$IMG_PATH/cus.svg" alt="ČUS">
      </a>
      <a href="https://starabela.ostrava.cz/cs" title="Stará Bělá" target="_blank">
        <img src="$IMG_PATH/stara_bela.png" alt="Stará Bělá">
      </a>
      <a href="https://www.msk.cz/" title="Ostrava" target="_blank">
        <img src="$IMG_PATH/kraj_logo.svg" alt="Moravskoslezský kraj">
      </a>
      <a href="https://nsa.gov.cz/" title="NSA" target="_blank">
        <img src="$IMG_PATH/nsa_logo.svg" alt="NSA">
      </a>
      <a href="https://www.ostrava.cz/cs" title="Ostrava" target="_blank">
        <img src="$IMG_PATH/logo_ostrava.png" alt="Ostrava">
      </a>
    </div>
  </div>
</div>

</div>

</body>
</html>
