<div id="menu">
  <!-- New top-level menu -->
  <div id="top-nav">
    <ul>
      <li $ONAS_ACTIVE><a href="$ROOT_PATH/"><i class="fa-solid fa-house-flag"></i> O nás</a></li>
      <li $ASPV_ACTIVE><a href="$ROOT_PATH/aspv"><i class="fa-solid fa-person-running"></i> ASPV</a></li>
      <li $TENIS_ACTIVE><a href="$ROOT_PATH/tenis"><i class="fa-solid fa-baseball-ball"></i> Tenis</a></li>
      <li $VOLEJBAL_ACTIVE><a href="$ROOT_PATH/volejbal"><i class="fa-solid fa-volleyball"></i> Volejbal</a></li>
      <li $HOKEJ_ACTIVE><a href="$ROOT_PATH/hokej"><i class="fa-solid fa-hockey-puck"></i> Hokej</a></li>
      <li $KCT_ACTIVE><a href="$ROOT_PATH/kct"><i class="fa-solid fa-person-hiking"></i> KČT</a></li>
    </ul>
  </div>

  <div class="tabmenu $ASPV_ACTIVE_CLASS">
    <ul>
      <li $ZACKY_ACTIVE><a href="$ROOT_PATH/zacky"><i class="fa-solid fa-child-dress"></i>Žačky</a></li>
      <li $ZACI_ACTIVE><a href="$ROOT_PATH/zaci"><i class="fa-solid fa-child-reaching"></i>Žáci</a></li>
      <li $ZENY_ACTIVE><a href="$ROOT_PATH/zeny"><i class="fa-solid fa-person-dress"></i>Ženy</a></li>
      <li $ZENY2_ACTIVE><a href="$ROOT_PATH/zeny2"><i class="fa-solid fa-person-dress"></i>Ženy 2</a></li>
      <li $MUZI_ACTIVE><a href="$ROOT_PATH/muzi"><i class="fa-solid fa-person-running"></i>Muži</a></li>
      <li $AEROBIC_ACTIVE><a href="$ROOT_PATH/aerobic"><i class="fa-solid fa-person-falling"></i>Aerobik</a></li>
      <li $RODICE_ACTIVE><a href="$ROOT_PATH/rodice"><i class="fa-solid fa-children"></i>Rodice s dětmi</a></li>
    </ul>
  </div>
</div>
