<div id="menu">
  <!-- New top-level menu -->
  <div id="top-nav">
    <ul>
      <li $ONAS_ACTIVE><a href="$ROOT_PATH/"><i class="fa-solid fa-house-flag"></i> O nás</a></li>
      <li $ASPV_ACTIVE><a href="$ROOT_PATH/aspv"><i class="fa-solid fa-person-running"></i> ASPV</a></li>
      <li $TENIS_ACTIVE><a href="$ROOT_PATH/tenis"><i class="fa-solid fa-baseball-ball"></i> Tenis</a></li>
      <li $VOLEJBAL_ACTIVE><a href="$ROOT_PATH/volejbal"><i class="fa-solid fa-volleyball"></i> Volejbal</a></li>
      <li $HOKEJ_ACTIVE><a href="$ROOT_PATH/hokej"><i class="fa-solid fa-hockey-puck"></i> Hokej</a></li>
      <li $KCT_ACTIVE><a href="$ROOT_PATH/kct"><i class="fa-solid fa-person-hiking"></i> KČT</a></li>
    </ul>
  </div>

  <table id="tabmenu" $ASPV_ACTIVE>
    <tbody>
    <tr>
      <td><img src="$IMG_PATH/zacky.png" onclick="redirectTo('$ROOT_PATH/zacky')"></td>
      <td><img src="$IMG_PATH/zaci.png" onclick="redirectTo('$ROOT_PATH/zaci')"></td>
      <td><img src="$IMG_PATH/florbal.png" onclick="redirectTo('$ROOT_PATH/florbal')"></td>
      <td><img src="$IMG_PATH/zeny.png" onclick="redirectTo('$ROOT_PATH/zeny')"></td>
      <td><img src="$IMG_PATH/zeny2.png" onclick="redirectTo('$ROOT_PATH/zeny2')"></td>
      <td><img src="$IMG_PATH/muzi.png" onclick="redirectTo('$ROOT_PATH/muzi')"></td>
      <td><img src="$IMG_PATH/aerobik.png" onclick="redirectTo('$ROOT_PATH/aerobic')"></td>
      <td><img src="$IMG_PATH/rodicesdetmi.png" onclick="redirectTo('$ROOT_PATH/rodice')"></td>
    </tr>
    <tr>
      <td><a href="$ROOT_PATH/zacky" $ZACKY_ACTIVE>Žačky</a></td>
      <td><a href="$ROOT_PATH/zaci" $ZACI_ACTIVE>Žáci</a></td>
      <td><a href="$ROOT_PATH/florbal" $FLORBAL_ACTIVE>Florbal</a></td>
      <td><a href="$ROOT_PATH/zeny" $ZENY_ACTIVE>Ženy</a></td>
      <td><a href="$ROOT_PATH/zeny2" $ZENY2_ACTIVE>Ženy 2</a></td>
      <td><a href="$ROOT_PATH/muzi" $MUZI_ACTIVE>Muži</a></td>
      <td><a href="$ROOT_PATH/aerobic" $AEROBIC_ACTIVE>Aerobik</a></td>
      <td><a href="$ROOT_PATH/rodice" $RODICE_ACTIVE>Rodice s dětmi</a></td>
    </tr>
    </tbody>
  </table>
</div>
