  <div id="zahlavi">
    <!-- New top-level menu -->
<!--    <div id="top-nav">-->
<!--      <ul>-->
<!--        <li><a href="$ROOT_PATH/" $ONAS_ACTIVE>O nás</a></li>-->
<!--        <li><a href="$ROOT_PATH/aspv" $ASPV_ACTIVE>ASPV</a></li>-->
<!--        <li><a href="$ROOT_PATH/tenis" $TENIS_ACTIVE>Tenis</a></li>-->
<!--        <li><a href="$ROOT_PATH/volejbal" $VOLEJBAL_ACTIVE>Volejbal</a></li>-->
<!--        <li><a href="$ROOT_PATH/kct" $KCT_ACTIVE>KČT</a></li>-->
<!--      </ul>-->
<!--    </div>-->

    <div id="logo">
      <h4>TJ SOKOL</h4>
      <h1><font color="#abe319">Stará</font> Bělá</h1>
      <h3><font color="#abe319">Česká asociace sport</font> pro všechny</h3>
    </div>
    <div id="info">
      <ul id="nav">
        <li class="index"><a href="$ROOT_PATH/" $HOME_ACTIVE>Hlavní strana</a></li>
        <li class="inf"><a href="$ROOT_PATH/kontakt" $CONTACT_ACTIVE>Informace a kontakty</a></li>
      </ul>
    </div>
  </div>
